<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />

    <title>Blogging Site</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Blogging Site</a>
      </div>
    </nav>

    <!-- Update a blog -->
    <div class="container my-4 border shadow-sm rounded">
      <form method="POST" action="/edit/<%=blog._id%>?_method=PUT">
        <div class="mb-3">
          <label for="title" class="form-label"> Title </label>
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="My blog title"
            required
            value="<%=blog.title%>"
          />
        </div>
        <div class="mb-3">
          <label for="categories" class="form-label"> Category </label>
          <input
            type="text"
            class="form-control"
            name="categories"
            placeholder="Eg: Science"
            required
            value="<%=blog.categories%>"
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label"> Content </label>
          <textarea
            class="form-control"
            name="content"
            rows="3"
            placeholder="This is the body of my blog"
            required
          ><%=blog.content%></textarea
          >
        </div>
        <div class="mb-3">
          <button
            type="submit"
            onclick="return confirm('Blog updated?')"
            class="btn btn-success"
          >
            Update
          </button>
          <button
            type="reset"
            onclick="return confirm('Reset changes?')"
            class="btn btn-outline-danger"
          >
            Clear
          </button>
        </div>
      </form>
    </div>

    <!-- Footer -->
    <footer class="container blog-footer" style="position: absolute">
      <p>&copy; 2021-2022 by Blogging Site</p>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
